<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mili.smarthome.tkj">

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".main.activity.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="mili.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".setting.activity.SettingActivity"
            android:launchMode="singleTask" />

        <activity
            android:name=".main.activity.ScreenSaverActivity"
            android:launchMode="singleTask">
        </activity>

        <activity
            android:name=".main.activity.ResetActivity"
            android:launchMode="singleTask">
        </activity>

        <activity
            android:name=".main.activity.SetLanguageActivity"
            android:configChanges="locale"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="mili.intent.action.RESET" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <service android:name=".service.ScreenService" />

    </application>

</manifest>